.post-card {
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.post-card:hover {
    transform: translateY(-5px);
}

.post-card img {
    object-fit: cover;
    height: 250px;
}

.card-text {
    font-size: 15px;
}

.post-card img {
    object-fit: cover;
    height: 180px;
}

/* 이미지 정보 상세 화면*/

.ifu-card-img {
    height: 250px;
    object-fit: cover;
}

.ifu-detail-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.ifu-post-card {
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.ifu-post-card:hover {
    transform: translateY(-5px);
}